<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Edit this Listings:</h3>
    <form  method="post" action="/listings/<%=listing._id  %>?_method=PUT" >
        <input name="listing[title]" type="text" value="<%=listing.title  %>">
        <br>
        <br>
        <textarea name="listing[description]" type="text"><%=listing.description  %> </textarea>
        <br><br>
        <input name="listing[price]" type="number" value="<%=listing.price  %>">
        <br><br>
        <input name="listing[location]" type="text" value="<%=listing.location  %>">
        <br><br>
        <input name="listing[country]" type="text"value="<%=listing.country %>">
        <br><br>
        <input name="listing[image]" type="text" value="<%=listing.image  %>">
        <br><br>
        <button>Edit</button>
    </form>
</body>
</html>